.no-margin
{
    margin: 0;
}
.no-padding
{
    padding: 0;
}
.white-background
{
    background-color: white;
}
.image-render-div
{
margin: 1rem 0;
}
.filters-container
{
   margin: 1rem .5rem 0 .5rem;  
}
.text-padding
{
    padding-left: .5rem;
}
.mission-container
{
    margin: 0.5rem;  
}
.mission-container-child
{
    margin-top: 0.5rem ;display: inline-flex; 
}
.mission-name
{
    color: blueviolet;
}
.lightgray-background
{
    background: lightgray;
}
.text-underline {
    display: block;
    width: 9rem;
    height: .1rem;
    margin: .5rem auto;
}
button{
    background-color: greenyellow;border-bottom: 1%;margin-bottom: 1rem;border-radius: .3rem;
}
.text-center-align-above-1440
{
    @media (min-width: 1440px )
    {
    text-align: center;
    }
}
.custom-col-2-above-1024
{
    @media only screen and (min-width: 1024px) and (max-width: 1440px)
{
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%;
    
}
}
.custom-col-10-above-1024
{
    @media only screen and (min-width: 1024px) and (max-width: 1440px)
{
    -ms-flex: 0 0 83.33%;
    flex: 0 0 83.33%;
    max-width: 83.33%;
}
}
.custom-col-3-above-1024
{
    @media only screen and (min-width: 1024px) and (max-width: 1440px)
{
    -ms-flex: 0 0 24.99%;
    flex: 0 0 24.99%;
    max-width: 24.99%;
}
}
.max-width-1440
{
@media (min-width: 1440px )
    {
    max-width: 1440px;
    }
}

.boxing-element
{
    padding: .5rem .5rem .5rem .5rem !important;
}



