.no-margin
{
    margin: 0;
}
.no-padding
{
    padding: 0;
}
.white-background
{
    background-color: white;
}
.filters-container
{
   margin: 1rem .5rem 0 .5rem;  
}
.text-padding
{
    padding-left: .5rem;
}
.mission-container
{
    margin: 0.5rem;  
}
.mission-container-child
{
    margin-top: 0.5rem ;display: inline-flex; 
}
.mission-name
{
    color: blueviolet;
}
.text-underline {
    display: block;
    width: 9rem;
    height: .1rem;
    background: lightgray;
    margin: .5rem auto;
}
button{
    background-color: greenyellow;border-bottom: 1%;margin-bottom: 1rem;border-radius: .3rem;
}
@media (min-width: 1440px)
{
.col-xxl-8 {
    -ms-flex: 0 0 66.66%;
    flex: 0 0 66.66%;
    max-width: 66.66%;
}
.col-xxl-2 {
    -ms-flex: 0 0 16.66%;
    flex: 0 0 16.66%;
    max-width: 16.66%;
}
}



